
    #container {
      position: relative;
      width: 100%;
      max-width: 640px;
      padding-top:10px;
    }
    video, canvas {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
    #detections {
      margin-top: 20px;
      background: white;
      padding: 15px;
      width: 100%;
      max-width: 640px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .detected-item {
      padding: 5px 0;
      border-bottom: 1px solid #eee;
    }

    #commands {
      margin-top: 20px;
      background: white;
      padding: 15px;
      width: 100%;
      max-width: 640px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    #commandText {
      padding: 5px 0;
      border-bottom: 1px solid #eee;
    }