{% extends 'base.html' %}

{% block content %}

<div class="card mx-auto" style="max-width: 500px">
    <div class="card-body">

        <img src="static/tunde.jpg" width="150" height="200">
        <p></p>
        <p class="text-justify">My name is Olatunde Samson Festus, a Data Scientist, currently running my Master of Science in Data Analytics, Nexford University.  I finished my Bachelor of Business Administration with specialization in Artificial Intelligence from the same university. I currently worked at private company as a Data Analyst and Web Developer.</p>
        <p>This project is intented to promote safety and independence for the Visually Impaired Persons - (VIPs) to interact more with the environment and to feel the power of AI and Machine Learning detecting object around them and speaking it loud for them to hear </p>
        <br/>
        <p>Contacts:</p>

        <strong>Phone Number:</strong> 07065000605, <strong>Email:</strong> mailtotunde@gmail.com

    </div>

</div>


{% endblock %}